.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
bin/
**/obj/
[Bb]uild/
[Bb]uilds/
out/
packages/
*.nupkg
*.snupkg
project.lock.json
appsettings.Development.json
appsettings.Local.json
wwwroot/
_ReSharper*/
*.DotSettings.user
*.cache/
*.log
*.tmp
*.temp
*.db